<div class="row">
    <div class="col-xs-8 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="scroll row">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-1">#</th>
                                <th>Bezeichnung</th>
                                <th class="right col-xs-2">Menge</th>
                                <th class="right col-xs-2">Einzelpr.</th>
                                <th class="right col-xs-2">Gesamtpr.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="entry animate" ng-repeat="item in entries" ng-class="{ info: item.id === entry.id }" ng-swipe-left="remove(item)" ng-click="edit(item)">
                                <td>{{$index + 1}}</td>
                                <td>{{item.product.name}}</td>
                                <td class="right" ng-class="{ warning: item === numberEntry && changeMode === 'count' }" ng-click="changeCount($event, item)">{{item.count}}</td>
                                <td class="right" ng-class="{ warning: item === numberEntry && changeMode === 'price' }" ng-click="changePrice($event, item)">{{item.price | number:2}}</td>
                                <td class="right">{{item.sum | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" name="form">
                            <div class="form-group">
                                <label for="product" class="col-xs-3 control-label">Produkt</label>

                                <div class="col-xs-9 col-sm-6">
                                    <select type="button" class="form-control" id="product" name="product" ng-model="entry.product" ng-options="product as product.name for product in products" placeholder="Produkt wählen" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="count" class="col-xs-3 control-label">Menge</label>

                                <div class="col-xs-3 col-sm-2">
                                    <input type="number" class="form-control" id="count" name="count" ng-model="entry.count" required>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-danger" ng-click="countDown()">- 1</button>
                                    <button type="button" class="btn btn-info" ng-click="countUp()">+ 1</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-xs-3 control-label">Preis</label>

                                <div class="col-xs-4 col-sm-2">
                                    <input type="text" class="form-control" id="price" name="price" ng-model="entry.price" required>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-warning btn-lg pull-left" ng-click="cancel()" ng-show="entry.id">Abbrechen</button>
                        <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="add()" ng-hide="entry.id" ng-disabled="form.$invalid">Hinzufügen</button>
                        <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="change()" ng-show="entry.id" ng-disabled="form.$invalid">Ändern</button>
                    </div>
                </div>
            </div>
            <div class="panel-footer lead">Gesamt: <span class="pull-right">{{amount | number:2}}</span></div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-3">
        <number-pad number="number(value)"></number-pad>
    </div>
</div>
