* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    padding: 20px 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

[ng-click] {
    cursor: pointer;
}

.animate {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.alert[ng-show].ng-animate {
    display: block !important;
}

.alert[ng-show].ng-hide-add.ng-hide-add-active,
.alert[ng-show].ng-hide-remove {
    opacity: 0;
}

.alert[ng-show].ng-hide-add,
.alert[ng-show].ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

tr.entry.ng-animate {
    display: table-row !important;
}

tr.entry.ng-enter {
    opacity: 0;
}

tr.entry.ng-enter.ng-enter-active {
    opacity: 1;
    background-color: lightgreen;
}

tr.entry.ng-leave {
    display: none !important;
}

.right {
    text-align: right !important;
}

.panel-body .table {
    margin-bottom: 0;
}
